<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#3F51B5">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">

    <link rel="shortcut icon" type="image/png"
          href="{% static 'favicon.ico' %}"/>
<link rel="apple-touch-icon" href="{% static 'appicon.png' %}">
    <title>Lithium // Project Manager</title>

    <script src="{% static 'bower_components/webcomponentsjs/webcomponents-lite.min.js' %}"></script>

    <link rel="import"
    href="{% static 'bower_components/paper-fab/paper-fab.html' %}">

    <link rel="import"
    href="{% static 'bower_components/iron-icons/iron-icons.html' %}">

    <link rel="import"
    href="{% static 'bower_components/iron-icons/maps-icons.html' %}">

    <link rel="import"
    href="{% static 'bower_components/paper-icon-button/paper-icon-button.html' %}">

    <link rel="import"
    href="{% static 'elements/tweaked-card.html' %}">

    <link rel="import"
    href="{% static 'elements/toolbar-element.html' %}">

    <link rel="import"
    href="{% static 'bower_components/iron-flex-layout/iron-flex-layout-classes.html' %}">

    <link rel="import"
    href="{% static 'bower_components/paper-spinner/paper-spinner.html' %}">

    <link rel="import"
    href="{% static 'bower_components/iron-form/iron-form.html' %}">

  	<link rel="import"
  	href="{% static 'bower_components/paper-input/paper-input.html' %}">

  	<link rel="import"
  	href="{% static 'bower_components/paper-dialog/paper-dialog.html' %}">

	<link rel="import"
  	href="{% static 'bower_components/iron-scroll-target-behavior/iron-scroll-target-behavior.html' %}">

  	<link rel="import"
  	href="{% static 'bower_components/paper-input/paper-textarea.html' %}">

  	<link rel="import"
  	href="{% static 'bower_components/paper-tooltip/paper-tooltip.html' %}">

  	<link rel="import"
  	href="{% static 'bower_components/paper-drawer-panel/paper-drawer-panel.html' %}">

    <link rel="import"
    href="{% static 'bower_components/paper-header-panel/paper-header-panel.html' %}">

    <link rel="import"
    href="{% static 'bower_components/paper-checkbox/paper-checkbox.html' %}">

    <link rel="import"
    href="{% static 'bower_components/paper-menu-button/paper-menu-button.html' %}">

    <link rel="import"
    href="{% static 'bower_components/paper-button/paper-button.html' %}">

    <link rel="import"
    href="{% static 'bower_components/paper-menu/paper-menu.html' %}">

    <link rel="import"
    href="{% static 'bower_components/paper-item/paper-item.html' %}">

    <style is="custom-style" include="iron-flex"></style>

    <style>
        @import url({% static 'theme.css' %});
    </style>

    <script>
      function opendelay(uri) {
          setTimeout(function () {
      location.href=uri;
          }, 500);
      }

    function addProject() {
      document.getElementById('newprojdialog').open();
      document.getElementById('submitnewproj').addEventListener('iron-form-response', this.formResponse);
    }

    function addTodo() {
        document.getElementById('addTodoDialog').open();
        document.getElementById('submitnewtodo').addEventListener('iron-form-response', this.formResponse);
    }

    function addNote() {
        document.getElementById('addNoteDialog').open();
        document.getElementById('submitnewnote').addEventListener('iron-form-response', this.formResponse);
    }

    function submitProj() {
      document.getElementById('submitnewproj').submit();
    }

      function submitTodo() {
        var menu=document.getElementById("newTodoDesignMenu").selectedItems;
        var menuVals="";
        for (i=0; i<menu.length; i++) {
            menuVals+=menu[i].getAttribute('value')+"|";
        }
        document.getElementById('newtodoDesignations').value=menuVals;
        document.getElementById('submitnewtodo').submit();
    }

    function submitNote() {
      document.getElementById('submitnewnote').submit();
    }

    function formResponse(e) {
      location.reload();
    }

    function toggleDrawer() {
      var drw=document.getElementById('drawerpanel');
      var tbar=document.getElementById('mtbar');
      drw.togglePanel();
      tbar.drawerbtn=false;
      if (drw.narrow) tbar.drawerbtn=true;
    }

    function signout() {
      document.getElementById('signoutdialog').open();
    }
    function finallylogout() {
      location.href='/signout';
    }

    var todoidForDeletion=-99;

    function cancelDeleteTodo() {
        todoidForDeletion=-99;
    }

    function cancelDeleteTodoComment() {
        todocommentidForDeletion=-99;
    }

    function deleteTodoCall(id) {
        todoidForDeletion=id;
        document.getElementById('deleteTodoDialog').open();
    }


      var noteidForDeletion=-99;

      function cancelDeleteNote() {
          noteidForDeletion=-99;
      }

      function cancelDeleteNoteComment() {
          notecommentidForDeletion=-99;
      }

      function deleteNoteCall(id) {
          noteidForDeletion=id;
          document.getElementById('deleteNoteDialog').open();
      }

      function deleteNote() {
          location.href="/deletenote/"+noteidForDeletion;
      }

    var todocommentidForDeletion=-99;

    function deleteTodoCommentCall(id) {
        todocommentidForDeletion=id;
        document.getElementById('deleteTodoCommentDialog').open();
    }

    var notecommentidForDeletion=-99;

    function deleteNoteCommentCall(id) {
        notecommentidForDeletion=id;
        document.getElementById('deleteNoteCommentDialog').open();
    }

    function deleteNoteComment() {
        location.href="/deletenotecomment/"+notecommentidForDeletion;
    }

    function deleteTodo() {
        location.href="/deletetodo/"+todoidForDeletion;
    }

    function deleteTodoComment() {
        location.href="/deletetodocomment/"+todocommentidForDeletion;
    }

    function openSettings() {
      document.getElementById('settingsdialog').open();
    }

    function submittodocomment() {
      document.getElementById('addTodoCommentForm').submit();
      document.getElementById('addTodoCommentForm').addEventListener('iron-form-response', this.formResponse);
    }

    function toggleTodoDone(id) {
        //why the timeout? cause ONLY on PC, the function is run before the checkbox actually changes value, this causes it to send "false" when activated and "true" when deactivated
      setTimeout(function () {
          document.getElementById('formToggleTodoDone'+id).submit();
          //document.getElementById('formToggleTodoDone').addEventListener('iron-form-response', this.formResponse);
      }, 200);

    }

    function editTodo(id, title, details, designations) {
        document.getElementById('inputEditTodoId').value = id;
        document.getElementById('inputEditTodoTitle').value = title;
        document.getElementById('inputEditTodoDetails').value = details;
        document.getElementById('editTodoDialog').open();

        var menu=document.getElementById('editTodoDesignationsMenu');

        if (menu.selectedValues) {
          var l=menu.selectedValues.length;
          for (var i = 0; i < l; i++) {
            menu.select(menu.selectedValues[0]);
          }
        }
        for (var i = 0; i < designations.length; i++) {
          var litem=document.getElementById('editTodoDesignation'+designations[i]);
          menu.select(menu.indexOf(litem));
        }
    }

    function editNote(id, title, content, pinned) {
        document.getElementById('inputEditNoteId').value = id;
        document.getElementById('inputEditNoteTitle').value = title;
        document.getElementById('inputEditNoteContent').value = content;
        if (pinned == 'True') {
          document.getElementById('inputEditNotePinned').checked = true;
        }
        else {
          document.getElementById('inputEditNotePinned').checked = false;
        }
        document.getElementById('editNoteDialog').open();
    }

    function submitEditNote() {
      document.getElementById('editnote').addEventListener('iron-form-response', this.formResponse);
      document.getElementById('editnote').submit();
    }

    function submitEditTodo() {
      var menu=document.getElementById('editTodoDesignationsMenu').selectedItems;
      var menuVals="";
      for (i=0; i<menu.length; i++) {
        menuVals+=menu[i].getAttribute('value')+"|";
      }

      document.getElementById('edittodoDesignations').value=menuVals;
      document.getElementById('edittodo').addEventListener('iron-form-response', this.formResponse);
      document.getElementById('edittodo').submit();
    }

    function submitnotecomment() {
      document.getElementById('addNoteCommentForm').submit();
      document.getElementById('addNoteCommentForm').addEventListener('iron-form-response', this.formResponse);
    }

    function sendinvitationResponse() {
      document.getElementById('invitationspinner').active=false;
      document.getElementById('invitationspinnericondone').hidden=false;
    }

    function submitInvitation() {
      document.getElementById('invitationspinnericondone').hidden=true;
      document.getElementById('invitationspinner').active=true;
      document.getElementById('sendinvitation').addEventListener('iron-form-response', this.sendinvitationResponse)
      document.getElementById('sendinvitation').submit()
    }
      </script>

</head>
<body>
    <!--TODO: finish implement settings dialog-->
    <paper-dialog id="settingsdialog" class="pdialog" modal>
		  <h2>Settings</h2>
				<div class="vertical layout">
          <form action="{% url 'uploadpic' %}" method="POST" enctype="multipart/form-data" id="uploadpicform">
            {% csrf_token %}
                <p>Change user picture</p>
                <p>
                    <input id="id_image" type="file" name="image">
                </p>
                <paper-button onclick="document.getElementById('uploadpicform').submit()">Submit</paper-button>
            </form>
 				</div>
		  <div class="buttons">
			<paper-button dialog-dismiss>Done</paper-button>
		  </div>
		</paper-dialog>

    <paper-dialog id="signoutdialog" class="pdialog" modal>
		  <h2>Do you really want to sign out?</h2>
		  <div class="buttons">
			<paper-button dialog-dismiss>No</paper-button>
			<paper-button onclick="finallylogout();">Yes</paper-button>
		  </div>
	</paper-dialog>

		<paper-drawer-panel id="drawerpanel">

      <paper-header-panel main class="flex" style="width:100%;">
      <toolbar-element mtitle="{% if userindex %}Projects{% endif %}{% if project %}{{project.name}}{% endif %}{% if todo %}{{todo.parent_project.name}}{% endif %}"
      drawerbtn tbarposition="relative" class="paper-header" id="mtbar">
      <paper-icon-button class="middle" icon="menu" onclick="toggleDrawer()"></paper-icon-button>
      </toolbar-element>


      {% if project %}
        <!-- Project settings -->

        <paper-dialog id="projSettingsDialog" class="pdialog" modal>
          <h2>{{project.name}} settings</h2>
        <form is="iron-form" id="sendinvitation" action="{% url 'sendinvite' %}" method="POST">
                    {% csrf_token %}
                <div class="vertical layout">
                    <span>Invite someone to {{project.name}}</span>
                    <paper-input class="cardcontent" label="Email" type="text" id="" name="invitemail" required></paper-input>
                    <input style="display: none;" name="projid" value="{{project.id}}">
                    <div class="horizontal container center-justified">
                      <paper-button onclick="submitInvitation()">Send invitation</paper-button>
                      <paper-spinner id="invitationspinner"></paper-spinner>
                      <iron-icon icon="done" hidden id="invitationspinnericondone"></iron-icon>
                    </div>
                </div>
        </form>
        <div class="vertical layout">
          <paper-button style="color: red; font-weight: bold;" onclick="document.getElementById('deleteProjectAreyousure').open();" dialog-dismiss>
        {% if project.author.user == request.user %}
          Delete this project
        {% else %}
          Leave this project
        {% endif %}
          </paper-button>
        </div>
          <div class="buttons">
            <paper-button dialog-dismiss>Done</paper-button>
          </div>
        </paper-dialog>

        {% if project %}
        <paper-dialog id="deleteProjectAreyousure" class="pdialog" modal>
          {% if project.author.user == request.user %}
                <p class="headertext">Are you sure you want to delete this project?</p>
                <p class="headertext">EVERYTHING inside it will be GONE FOREVER!</p>
              <form is="iron-form" id="deleteprojectform" action="{% url 'deleteproject' %}" method="POST">
                          {% csrf_token %}
                      <div class="vertical layout">
                          <paper-checkbox class="cardcontent" name="iamsure">Yes, I am sure</paper-checkbox>
                          <input style="display: none;" name="projid" value="{{project.id}}">
                      </div>
              </form>
              <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button style="color: red;" onclick="document.getElementById('deleteprojectform').addEventListener('iron-form-response', function() { location.href='/';}); document.getElementById('deleteprojectform').submit();">Confirm deletion</paper-button>
              </div>
          {% else %}
                <p class="headertext">Are you sure you want to leave this project?</p>
                <p class="headertext">The project author will become the new author of the notes and to do's that you wrote.</p>
                <p class="headertext">All your comments will be deleted and gone forever.</p>
                <div class="buttons">
                  <paper-button dialog-dismiss>Cancel</paper-button>
                  <paper-button style="color: red;" onclick="location.href='{% url 'leaveproject' project.id %}'">Confirm</paper-button>
                </div>
          {% endif %}


        </paper-dialog>
        {% endif %}

      {% endif %}

      {% if pinnednotes %}
      {% for note in pinnednotes %}
      <tweaked-card mtitle="{{note.title}}" csize="big">

          <div class="horizontal layout cardcontent">
              <span>{{note.content}}</span>
          </div>
          <div class="card-actions horizontal layout center">
              <paper-button onclick="location.href='{% url 'notecommentsview' note.id %}'">Comments</paper-button>
      <span class="flex"></span>
        <div>
          <iron-icon icon="maps:pin-drop" class="mbadge"></iron-icon>
          <paper-tooltip position="left">Pinned on top</paper-tooltip>
        </div>
      <div>
      {% if note.author.user == user %}
      <iron-icon icon="bookmark" class="mbadge"></iron-icon>
      <paper-tooltip position="left">You are the author</paper-tooltip>
      {% else %}
        {% if note.author.avatar %}
          <img class="microavatar" src="/media/{{note.author.avatar}}"></img>
        {% else %}
          <iron-icon icon="account-circle"></iron-icon>
        {% endif %}
      <paper-tooltip position="left">{{note.author.user.username}}</paper-tooltip>
      {% endif %}
      </div>
      </div>
      </tweaked-card>
      {% endfor %}
      {% endif %}

      {% if note or noteslist %}
      <!-- Note delete dialog -->
      <paper-dialog id="deleteNoteDialog" class="pdialog" modal>
            <h2>Do you really want to delete this note?</h2>
            <div class="buttons">
              <paper-button dialog-dismiss onclick="cancelDeleteNote();">No</paper-button>
              <paper-button onclick="deleteNote();">Yes</paper-button>
            </div>
      </paper-dialog>

      <!-- Note edit dialog -->
      <paper-dialog id="editNoteDialog" class="pdialog" modal>
        <h2>Edit Note...</h2>
      <form is="iron-form" id="editnote" action="{% url 'editnote' %}" method="POST">
                  {% csrf_token %}
              <div class="vertical layout">
                  <paper-input class="cardcontent" label="Title" type="text" id="inputEditNoteTitle" name="title" required></paper-input>
                  <paper-textarea class="cardcontent" label="Content" type="text" id="inputEditNoteContent" name="content" value=""></paper-textarea>
                  <input style="display: none;" name="noteid" value="-99" id="inputEditNoteId">
                    <div class="spacer" style="margin-left: 24px;">
                      <paper-checkbox name="pinned" id="inputEditNotePinned">Pin on top</paper-checkbox>
                    </div>
                  <input style="display: none" name="parentproj" value="{{project.id}}">
              </div>
        <div class="buttons">
          <paper-button dialog-dismiss>Cancel</paper-button>
          <paper-button onclick="submitEditNote();">Confirm</paper-button>
        </div>
          </form>
      </paper-dialog>
      {% endif %}

    {% if todo or todolist %}
    <!-- To_do delete dialog -->
    <paper-dialog id="deleteTodoDialog" class="pdialog" modal>
          <h2>Do you really want to delete this to do?</h2>
          <div class="buttons">
            <paper-button dialog-dismiss onclick="cancelDeleteTodo();">No</paper-button>
            <paper-button onclick="deleteTodo();">Yes</paper-button>
          </div>
    </paper-dialog>

    <!-- To_do edit dialog -->
    <paper-dialog id="editTodoDialog" class="pdialog" modal>
      <h2>Edit To do...</h2>
    <form is="iron-form" id="edittodo" action="{% url 'edittodo' %}" method="POST">
                {% csrf_token %}
            <div class="vertical layout">
                <paper-input class="cardcontent" label="Title" type="text" id="inputEditTodoTitle" name="title" required></paper-input>
                <paper-textarea class="cardcontent" label="Details" type="text" id="inputEditTodoDetails" name="details" value=""></paper-textarea>
                <input style="display: none;" name="todoid" value="-99" id="inputEditTodoId">
                    <div class="spacer"></div>
                    <span class="cardcontent">Assign to:</span>
                    <paper-menu attr-for-elected class="cardcontent designMenu" id="editTodoDesignationsMenu" multi name="designations">
                        {% for u in participants %}

                            <paper-item value="{{u.user.user.username}}" id="editTodoDesignation{{u.user.user.username}}">
                                <span>{{u.user.user.username}}</span>
                            </paper-item>

                        {% endfor %}
                    </paper-menu>
                <input style="display: none;" name="edittodoDesignations" id="edittodoDesignations" value="">
                <input style="display: none" name="parentproj" value="{{project.id}}">
            </div>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <paper-button onclick="submitEditTodo();">Confirm</paper-button>
      </div>
        </form>
    </paper-dialog>
    {% endif %}



    <!-- BEGIN TO_DO COMMENTS SCREEN -->
    {% if todo %}
                <tweaked-card mtitle="{{todo.title}}" csize="big">

                  {% if todo.author.user == request.user %}
                    <paper-menu-button class="cardMenuButton" horizontal-offset="35" vertical-offset="35"  horizontal-align="right">
                        <paper-icon-button icon="more-vert" class="dropdown-trigger"></paper-icon-button>
                        <paper-menu class="dropdown-content">
                                <paper-item onclick="deleteTodoCall({{todo.id}})">
                                    <span>Delete</span>
                                </paper-item>
                                <paper-item onclick="editTodo({{todo.id}}, '{{todo.title}}', '{{todo.details}}', [{% for d in designations %}{% if d.todo == todo %}'{{d.user.user.username}}',{% endif %}{% endfor %}])" >
                                    <span>Edit</span>
                                </paper-item>
                        </paper-menu>
                    </paper-menu-button>
                    {% endif %}

                    <div class="horizontal layout cardcontent">
                    <form is="iron-form" id="formToggleTodoDone{{todo.id}}" action="{% url 'toggleTodoDone' todo.id %}" method="POST">
                        {% csrf_token %}
                        <paper-checkbox name="todoCheckbox" {% if todo.done %}checked{% endif %} onclick="toggleTodoDone({{todo.id}})">

                        <span>{{todo.details}}</span></paper-checkbox>
                    </form></div>
                    <div class="card-actions horizontal layout center">
                <span class="flex"></span>

                <div>
                {% if todo.author.user == user %}
                <iron-icon icon="bookmark" class="mbadge"></iron-icon>
                <paper-tooltip position="left">You are the author</paper-tooltip>
                {% else %}
                  {% if todo.author.avatar %}
                    <img class="microavatar" src="/media/{{todo.author.avatar}}"></img>
                  {% else %}
                    <iron-icon icon="account-circle"></iron-icon>
                  {% endif %}
                <paper-tooltip position="left">{{todo.author.user.username}}</paper-tooltip>
                {% endif %}
                </div>
                        <iron-icon icon="arrow-forward"></iron-icon>
                            {% for d in designations %}
                                    <div>
                                        <div style="margin-left: 24px;"></div>
                                        {% if d.user.avatar %}
                                      <img class="microavatar" src="/media/{{d.user.avatar}}"></img>
                                        {% else %}
                                      <iron-icon icon="account-circle"></iron-icon>
                                        {% endif %}
                                        <paper-tooltip position="left">{{d.user.user.username}}</paper-tooltip>
                                    </div>
                            {% endfor %}
                        </div>
                </tweaked-card>

                <paper-dialog id="deleteTodoCommentDialog" class="pdialog" modal>
                      <h2>Do you really want to delete this comment?</h2>
                      <div class="buttons">
                        <paper-button dialog-dismiss onclick="cancelDeleteTodoComment();">No</paper-button>
                        <paper-button onclick="deleteTodoComment();">Yes</paper-button>
                      </div>
                </paper-dialog>

                {% for comment in commentstodolist %}
                    <tweaked-card mtitle="" csize="big">

                            {% if comment.author.user == request.user %}
                                <paper-menu-button class="cardMenuButton" horizontal-offset="35" vertical-offset="35"  horizontal-align="right">
                                    <paper-icon-button icon="more-vert" class="dropdown-trigger"></paper-icon-button>
                                    <paper-menu class="dropdown-content">
                                            <paper-item onclick="deleteTodoCommentCall({{comment.id}})">
                                                <span>Delete</span>
                                            </paper-item>
                                    </paper-menu>
                                </paper-menu-button>
                            {% endif %}
                        <div class="vertical layout xcardcontent">
                            <div class="horizontal layout center">
                                <img class="piccircle" src="
                                    {% if comment.author.avatar %}
                                /media/{{comment.author.avatar}}
                                    {% else %}
                                /media/img/defaultuserpic.png
                                    {% endif %}
                                "></img>
                                <span class="commentAuthor">{{comment.author.user.username}}</span>
                                <span class="flex"></span>
                            </div>
                            <div class="spacer"></div>
                            <span>{{comment.content}}</span>
                        </div>
                    </tweaked-card>
                    {% endfor %}

                    <tweaked-card mtitle="Add comment" csize="big">

                        <div class="vertical layout">
                            <form is="iron-form" id="addTodoCommentForm" action="{% url 'submittodocomment' todo.id %}" method="POST">
                                {% csrf_token %}
                                <paper-textarea class="cardcontent" label="Content" type="text" name="content" required></paper-textarea>
                                <div class="card-actions horizontal layout">
                                    <paper-button onclick="submittodocomment()">Submit</paper-button>
                                </div>
                            </form>

                        </div>
                    </tweaked-card>
    {% endif %}
    <!-- END TO_DO COMMENTS SCREEN -->

    <!-- BEGIN PROJECT SCREEN -->
    {% if todoview %}
    <div>
    <paper-fab id="addfab" icon="add" onClick="addTodo()"></paper-fab>
    <paper-tooltip for="addfab" position="left">Add Todo</paper-tooltip>
    </div>


    <paper-dialog id="addTodoDialog" class="pdialog" modal>
      <h2>New To do...</h2>
    <form is="iron-form" id="submitnewtodo" action="{% url 'submitnewtodo' %}" method="POST">
                {% csrf_token %}
            <div class="vertical layout">
                <paper-input class="cardcontent" label="Title" type="text" name="title" required></paper-input>
                <paper-textarea class="cardcontent" label="Details" type="text" name="details" value=""></paper-textarea>
                    <div class="spacer"></div>
                    <span class="cardcontent">Assign to:</span>

                    <paper-menu class="cardcontent designMenu" multi name="designations" id="newTodoDesignMenu">
                        {% for u in participants %}

                            <paper-item role="menuitemcheckbox" value="{{u.user.user.username}}">
                                <span>{{u.user.user.username}}</span>
                            </paper-item>

                        {% endfor %}
                    </paper-menu>
                    <input style="display: none;" name="newtodoDesignations" id="newtodoDesignations" value="">
                <input style="display: none;" name="parentproj" value="{{project.id}}">
            </div>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <paper-button onclick="submitTodo();">Create</paper-button>
      </div>
        </form>
    </paper-dialog>
        {% if todolist %}

            {% for todo in todolist %}
                <tweaked-card mtitle="{{todo.title}}" csize="big">

                  {% if todo.author.user == request.user %}
                    <paper-menu-button class="cardMenuButton" horizontal-offset="35" vertical-offset="35"  horizontal-align="right">
                        <paper-icon-button icon="more-vert" class="dropdown-trigger"></paper-icon-button>
                        <paper-menu class="dropdown-content">
                                <paper-item onclick="deleteTodoCall({{todo.id}})">
                                    <span>Delete</span>
                                </paper-item>
                                <paper-item onclick="editTodo({{todo.id}}, '{{todo.title}}', '{{todo.details}}', [{% for d in designations %}{% if d.todo == todo %}'{{d.user.user.username}}', {% endif %}{% endfor %}])" >
                                    <span>Edit</span>
                                </paper-item>
                        </paper-menu>
                    </paper-menu-button>
                    {% endif %}

                    <div class="horizontal layout cardcontent">
                    <form is="iron-form" id="formToggleTodoDone{{todo.id}}" action="{% url 'toggleTodoDone' todo.id %}" method="POST">
                        {% csrf_token %}
                        <paper-checkbox name="todoCheckbox" {% if todo.done %}checked{% endif %} onclick="toggleTodoDone({{todo.id}})">

                        <span>{{todo.details}}</span></paper-checkbox>
                    </form></div>
                    <div class="card-actions horizontal layout center">
                        <paper-button onclick="location.href='{% url 'todoview' todo.id %}'">Comments</paper-button>
                <span class="flex"></span>

                <div>
                {% if not mytasks %}
                {% if todo.author.user == user %}
                <iron-icon icon="bookmark" class="mbadge"></iron-icon>
                <paper-tooltip position="left">You are the author</paper-tooltip>
                {% else %}
                  {% if todo.author.avatar %}
                    <img class="microavatar" src="/media/{{todo.author.avatar}}"></img>
                  {% else %}
                    <iron-icon icon="account-circle"></iron-icon>
                  {% endif %}
                <paper-tooltip position="left">{{todo.author.user.username}}</paper-tooltip>
                {% endif %}
                {% endif %}
                </div>
                {% if mytasks %} <!-- if I am in mytasks, show the parent project instead of the designations -->
                <paper-button onclick="location.href='{% url 'projview' todo.parent_project.id %}'">{{todo.parent_project.name}}</paper-button>
                {% else %}
                        <iron-icon icon="arrow-forward"></iron-icon>
                            {% for d in designations %}
                                {% if d.todo.id == todo.id %}
                                    <div>
                                        <div style="margin-left: 24px;"></div>
                                        {% if d.user.avatar %}
                                      <img class="microavatar" src="/media/{{d.user.avatar}}"></img>
                                        {% else %}
                                      <iron-icon icon="account-circle"></iron-icon>
                                        {% endif %}
                                        <paper-tooltip position="left">{{d.user.user.username}}</paper-tooltip>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% endif %}
                          </div>
                </tweaked-card>
            {% endfor %}
        {% else %}
            <h2>Nothing here</h2>
        {% endif %}
        <div class="spacerFab"></div>
    {% endif %}
    <!-- END PROJECT SCREEN -->


    <!-- BEGIN PROJECT NOTES SCREEN -->
    {% if notesview %}
    <div>
    <paper-fab id="addfab" icon="add" onClick="addNote()"></paper-fab>
    <paper-tooltip for="addfab" position="left">Add Note</paper-tooltip>
    </div>


    <paper-dialog id="addNoteDialog" class="pdialog" modal>
      <h2>New Note...</h2>
    <form is="iron-form" id="submitnewnote" action="{% url 'submitnewnote' %}" method="POST">
                {% csrf_token %}
            <div class="vertical layout">
                <paper-input class="cardcontent" label="Title" type="text" name="title" required></paper-input>
                <paper-textarea class="cardcontent" label="Content" type="text" name="content" value=""></paper-textarea>
                <div class="spacer" style="margin-left: 24px;">
                  <paper-checkbox name="pinned">Pin on top</paper-checkbox>
                </div>

                <input style="display: none;" name="parentproj" value="{{project.id}}">
            </div>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <paper-button onclick="submitNote();">Create</paper-button>
      </div>
        </form>
    </paper-dialog>
        {% if noteslist %}

            {% for note in noteslist %}
                <tweaked-card mtitle="{{note.title}}" csize="big">

                    {% if note.author.user == request.user %}
                    <paper-menu-button class="cardMenuButton" horizontal-offset="35" vertical-offset="35"  horizontal-align="right">
                        <paper-icon-button icon="more-vert" class="dropdown-trigger"></paper-icon-button>
                        <paper-menu class="dropdown-content">
                                <paper-item onclick="deleteNoteCall({{note.id}})">
                                    <span>Delete</span>
                                </paper-item>
                                <paper-item onclick="editNote({{note.id}}, '{{note.title|escapejs}}', '{{note.content|escapejs}}', '{{note.pinned}}')" >
                                    <span>Edit</span>
                                </paper-item>
                        </paper-menu>
                    </paper-menu-button>
                      {% endif %}

                    <div class="horizontal layout cardcontent">
                        <span>{{note.content}}</span>
                    </div>
                    <div class="card-actions horizontal layout center">
                        <paper-button onclick="location.href='{% url 'notecommentsview' note.id %}'">Comments</paper-button>
                <span class="flex"></span>
                {% if note.pinned %}
                  <div>
                    <iron-icon icon="maps:pin-drop" class="mbadge"></iron-icon>
                    <paper-tooltip position="left">Pinned on top</paper-tooltip>
                  </div>
                {% endif %}

                <div>
                {% if note.author.user == user %}
                <iron-icon icon="bookmark" class="mbadge"></iron-icon>
                <paper-tooltip position="left">You are the author</paper-tooltip>
                {% else %}
                  {% if note.author.avatar %}
                    <img class="microavatar" src="/media/{{note.author.avatar}}"></img>
                  {% else %}
                    <iron-icon icon="account-circle"></iron-icon>
                  {% endif %}
                <paper-tooltip position="left">{{note.author.user.username}}</paper-tooltip>
                {% endif %}
                </div>
                </div>
                </tweaked-card>
            {% endfor %}
        {% else %}
            <h2>Nothing here</h2>
        {% endif %}
        <div class="spacerFab"></div>
    {% endif %}
    <!-- END PROJECT NOTES SCREEN -->


    <!-- BEGIN NOTE COMMENTS SCREEN -->
    {% if note %}
                <tweaked-card mtitle="{{note.title}}" csize="big">

                    {% if note.author.user == request.user %}
                    <paper-menu-button class="cardMenuButton" horizontal-offset="35" vertical-offset="35"  horizontal-align="right">
                        <paper-icon-button icon="more-vert" class="dropdown-trigger"></paper-icon-button>
                        <paper-menu class="dropdown-content">
                                <paper-item onclick="deleteNoteCall({{note.id}})">
                                    <span>Delete</span>
                                </paper-item>
                                <paper-item onclick="editNote({{note.id}}, '{{note.title|escapejs}}', '{{note.content|escapejs}}', '{{note.pinned}}')" >
                                    <span>Edit</span>
                                </paper-item>
                        </paper-menu>
                    </paper-menu-button>
                      {% endif %}

                    <div class="horizontal layout cardcontent">
                        <span>{{note.content}}</span>
                    </div>
                    <div class="card-actions horizontal layout center">
                      <span class="flex"></span>

                      {% if note.pinned %}
                        <div>
                          <iron-icon icon="maps:pin-drop" class="mbadge"></iron-icon>
                          <paper-tooltip position="left">Pinned on top</paper-tooltip>
                        </div>
                      {% endif %}
                      <div>
                      {% if note.author.user == user %}
                        <iron-icon icon="bookmark" class="mbadge"></iron-icon>
                        <paper-tooltip position="left">You are the author</paper-tooltip>
                      {% else %}
                        {% if note.author.avatar %}
                          <img class="microavatar" src="/media/{{note.author.avatar}}"></img>
                        {% else %}
                          <iron-icon icon="account-circle"></iron-icon>
                        {% endif %}
                      <paper-tooltip position="left">{{note.author.user.username}}</paper-tooltip>
                      {% endif %}
                      </div>
                    </div>
                </tweaked-card>

                <paper-dialog id="deleteNoteCommentDialog" class="pdialog" modal>
                      <h2>Do you really want to delete this comment?</h2>
                      <div class="buttons">
                        <paper-button dialog-dismiss onclick="cancelDeleteNoteComment();">No</paper-button>
                        <paper-button onclick="deleteNoteComment();">Yes</paper-button>
                      </div>
                </paper-dialog>

                {% for comment in commentsnotelist %}
                    <tweaked-card mtitle="" csize="big">

                            {% if comment.author.user == request.user %}
                                <paper-menu-button class="cardMenuButton" horizontal-offset="35" vertical-offset="35"  horizontal-align="right">
                                    <paper-icon-button icon="more-vert" class="dropdown-trigger"></paper-icon-button>
                                    <paper-menu class="dropdown-content">
                                            <paper-item onclick="deleteNoteCommentCall({{comment.id}})">
                                                <span>Delete</span>
                                            </paper-item>
                                    </paper-menu>
                                </paper-menu-button>
                            {% endif %}
                        <div class="vertical layout xcardcontent">
                            <div class="horizontal layout center">
                                <img class="piccircle" src="
                                    {% if comment.author.avatar %}
                                /media/{{comment.author.avatar}}
                                    {% else %}
                                /media/img/defaultuserpic.png
                                    {% endif %}
                                "></img>
                                <span class="commentAuthor">{{comment.author.user.username}}</span>
                                <span class="flex"></span>
                            </div>
                            <div class="spacer"></div>
                            <span>{{comment.content}}</span>
                        </div>
                    </tweaked-card>
                    {% endfor %}

                    <tweaked-card mtitle="Add comment" csize="big">

                        <div class="vertical layout">
                            <form is="iron-form" id="addNoteCommentForm" action="{% url 'submitnotecomment' note.id %}" method="POST">
                                {% csrf_token %}
                                <paper-textarea class="cardcontent" label="Content" type="text" name="content" required></paper-textarea>
                                <div class="card-actions horizontal layout">
                                    <paper-button onclick="submitnotecomment()">Submit</paper-button>
                                </div>
                            </form>

                        </div>
                    </tweaked-card>
    {% endif %}
    <!-- END NOTE COMMENTS SCREEN -->


    <!-- BEGIN PROJECTS OVERVIEW -->
    {% if userindex %}
    <div>
    <paper-fab id="addfab" icon="add" onClick="addProject()"></paper-fab>
    <paper-tooltip for="addfab" position="left">Add project</paper-tooltip>
    </div>


        <paper-dialog id="newprojdialog" class="pdialog" modal>
          <h2>New project...</h2>
        <form is="iron-form" id="submitnewproj" action="{% url 'submitnewproj' %}" method="POST">
                    {% csrf_token %}
                <div class="vertical layout">
            <paper-input class="cardcontent" label="Name" type="text" name="name" required></paper-input>
            <paper-input class="cardcontent" label="Description" type="text" name="description"></paper-input>
                </div>
          <div class="buttons">
            <paper-button dialog-dismiss>Cancel</paper-button>
            <paper-button onclick="submitProj();">Create</paper-button>
          </div>
            </form>
        </paper-dialog>
	{% if projlist %}
		{% for project in projlist %}
		<tweaked-card mtitle="{{project.name}}" csize="big">
			<span class="cardcontent">{{project.description}}</span>
			<div class="card-actions horizontal layout center">
 				<paper-button onclick="location.href='{% url 'projview' project.id %}'">Open</paper-button>
        <span class="flex"></span>
        <div>
        {% if project.author.user == user %}
        <iron-icon icon="bookmark" class="mbadge"></iron-icon>
        <paper-tooltip position="left">You are the author</paper-tooltip>
        {% else %}
          {% if project.author.avatar %}
            <img class="microavatar" src="/media/{{project.author.avatar}}"></img>
          {% else %}
            <iron-icon icon="account-circle"></iron-icon>
          {% endif %}
        <paper-tooltip position="left">{{project.author.user.username}}</paper-tooltip>

        {% endif %}
 		</div></div>
		</tweaked-card>
		{% endfor %}
    <div class="spacerFab"></div>
	{% else %}
		<h2>Nothing here</h2>
	{% endif %}
    {% endif %}
    <!-- END PROJECTS OVERVIEW -->
  </paper-header-panel>

	<div drawer id="mdrawer" class="vertical layout">
      <div class="drawerheader horizontal layout">
        {% if userpic %}
          <img id="avatarcircle" src="/media/{{userpic}}"></img>
        {% else %}
          <img id="avatarcircle" src="/media/img/defaultuserpic.png"></img>
        {% endif %}
          <!--<paper-tooltip for="avatarcircle" position="right" >{{user.username}}</paper-tooltip>-->
          <span class="usrname">// {{user.username}}</span>
      </div>
      <div class="topbtncont">
            {% if not mytasks %}
                <paper-button class="fullbleedbtn" onclick="location.href='{% url 'mytasks' %}'">My tasks</paper-button>
            {% endif %}
            {% if project or mytasks %}
            {% if not todolist and project %}
                <paper-button class="fullbleedbtn" onclick="location.href='{% url 'projview' project.id %}'">To dos</paper-button>
            {% endif %}
            {% if not noteslist and project %}
                <paper-button class="fullbleedbtn" onclick="location.href='{% url 'notesview' project.id %}'">Notes</paper-button>
            {% endif %}
                <paper-button class="fullbleedbtn" onclick="location.href='/'">Projects</paper-button>
                {% if project %}
                <paper-button class="fullbleedbtn" onclick="document.getElementById('projSettingsDialog').open()">Project settings</paper-button>
                {% endif %}
            {% else %}
            {% endif %}
      </div>
      <div>
        <div class="bottombtncont">
          <paper-button class="fullbleedbtn" onclick="openSettings()">Settings</paper-button>
          <paper-button class="fullbleedbtn" onclick="signout()">Sign out</paper-button>
        </div>
      </div>
  </div>

		</paper-drawer-panel>
</body>
</html>
