<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#3F51B5">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">

    <link rel="shortcut icon" type="image/png"
          href="{% static 'favicon.ico' %}"/>
<link rel="apple-touch-icon" href="{% static 'appicon.png' %}">
    <title>Lithium // Project Manager</title>

    <script src="{% static 'bower_components/webcomponentsjs/webcomponents-lite.min.js' %}"></script>

    <link rel="import"
    href="{% static 'bower_components/paper-fab/paper-fab.html' %}">

    <link rel="import"
    href="{% static 'bower_components/iron-icons/iron-icons.html' %}">

    <link rel="import"
    href="{% static 'bower_components/paper-icon-button/paper-icon-button.html' %}">

    <link rel="import"
    href="{% static 'elements/tweaked-card.html' %}">

    <link rel="import"
    href="{% static 'elements/toolbar-element.html' %}">

    <link rel="import"
    href="{% static 'bower_components/iron-flex-layout/classes/iron-flex-layout.html' %}">

    <link rel="import"
    href="{% static 'bower_components/iron-form/iron-form.html' %}">

    <link rel="import"
    href="{% static 'elements/share-button.html' %}">

  	<link rel="import"
  	href="{% static 'bower_components/paper-input/paper-input.html' %}">

  	<link rel="import"
  	href="{% static 'bower_components/paper-dialog/paper-dialog.html' %}">

	<link rel="import"
  	href="{% static 'bower_components/iron-scroll-target-behavior/iron-scroll-target-behavior.html' %}">

  	<link rel="import"
  	href="{% static 'bower_components/paper-input/paper-textarea.html' %}">

  	<link rel="import"
  	href="{% static 'bower_components/paper-tooltip/paper-tooltip.html' %}">

  	<link rel="import"
  	href="{% static 'bower_components/paper-drawer-panel/paper-drawer-panel.html' %}">

    <link rel="import"
    href="{% static 'bower_components/paper-header-panel/paper-header-panel.html' %}">

    <link rel="import"
    href="{% static 'bower_components/file-upload/file-upload.html' %}">

    <link rel="import"
    href="{% static 'bower_components/paper-checkbox/paper-checkbox.html' %}">

    <link rel="import"
    href="{% static 'bower_components/paper-menu-button/paper-menu-button.html' %}">

    <link rel="import"
    href="{% static 'bower_components/paper-menu/paper-menu.html' %}">

    <link rel="import"
    href="{% static 'bower_components/paper-item/paper-item.html' %}">

    <style>
        @import url({% static 'theme.css' %});
    </style>
</head>


	<script>
    function opendelay(uri) {
        setTimeout(function () {
    location.href=uri;
        }, 500);
    }

	function addProject() {
		document.getElementById('newprojdialog').open();
		document.getElementById('submitnewproj').addEventListener('iron-form-response', this.formResponse);
	}

    function addTodo() {
        document.getElementById('addTodoDialog').open();
        document.getElementById('submitnewtodo').addEventListener('iron-form-response', this.formResponse);
    }

	function submitProj() {
		document.getElementById('submitnewproj').submit();
	}

    function submitTodo() {
        var menu=document.getElementById("newTodoDesignMenu").selectedItems;
        console.log(menu);
        var menuVals="";
        for (i=0; i<menu.length; i++) {
            menuVals+=menu[i].innerText+"|";
        }
        console.log(menuVals);
        document.getElementById('newtodoDesignations').value=menuVals;

        console.log(document.getElementById('submitnewtodo').elements);
		document.getElementById('submitnewtodo').submit();
	}

	function formResponse(e) {
		location.reload();
	}

  function toggleDrawer() {
    var drw=document.getElementById('drawerpanel');
    var tbar=document.getElementById('mtbar');
    drw.togglePanel();
    tbar.drawerbtn=false;
    if (drw.narrow) tbar.drawerbtn=true;
  }

  function signout() {
    document.getElementById('signoutdialog').open();
  }
  function finallylogout() {
    location.href='/signout';
  }

  var todoidForDeletion=-99;

  function cancelDeleteTodo() {
      todoidForDeletion=-99;
  }

  function cancelDeleteTodoComment() {
      todocommentidForDeletion=-99;
  }

  function deleteTodoCall(id) {
      todoidForDeletion=id;
      document.getElementById('deleteTodoDialog').open();
  }

  var todocommentidForDeletion=-99;

  function deleteTodoCommentCall(id) {
      todocommentidForDeletion=id;
      document.getElementById('deleteTodoCommentDialog').open();
  }

  function deleteTodo() {
      location.href="/deletetodo/"+todoidForDeletion;
  }

  function deleteTodoComment() {
      location.href="/deletetodocomment/"+todocommentidForDeletion;
  }

  function openSettings() {
    document.getElementById('settingsdialog').open();
  }

  function submittodocomment() {
    document.getElementById('addTodoCommentForm').submit();
    document.getElementById('addTodoCommentForm').addEventListener('iron-form-response', this.formResponse);
  }

  function toggleTodoDone(id) {
      //why the timeout? cause ONLY on PC, the function is run before the checkbox actually changes value, this causes it to send "false" when activated and "true" when deactivated
    setTimeout(function () {
        document.getElementById('formToggleTodoDone'+id).submit();
        document.getElementById('formToggleTodoDone').addEventListener('iron-form-response', this.formResponse);
    }, 200);
  }

  function editTodo(id, title, details) {
      document.getElementById('inputEditTodoId').value = id;
      document.getElementById('inputEditTodoTitle').value = title;
      document.getElementById('inputEditTodoDetails').value = details;
      document.getElementById('editTodoDialog').open()
      //TODO: add known designations...
  }

  function submitEditTodo() {
      document.getElementById('edittodo').addEventListener('iron-form-response', this.formResponse);
      document.getElementById('edittodo').submit();
  }
    </script>




<body class="fullbleed vertical layout center">
    <!--TODO: implement settings dialog-->
    <paper-dialog id="settingsdialog" class="pdialog" modal>
		  <h2>Settings</h2>
				<div class="vertical layout">
          <span>tkn: {{csrfmiddlewaretoken}}</span>
          <file-upload method="POST" target="{% url 'updateavatar' %}" mcsrftoken="{{ csrf_token }}">
            Profile picture</file-upload>

 				</div>
		  <div class="buttons">
			<paper-button dialog-dismiss>Done</paper-button>
		  </div>
		</paper-dialog>

    <paper-dialog id="signoutdialog" class="pdialog" modal>
		  <h2>Do you really want to sign out?</h2>
		  <div class="buttons">
			<paper-button dialog-dismiss>No</paper-button>
			<paper-button onclick="finallylogout();">Yes</paper-button>
		  </div>
	</paper-dialog>

      <paper-header-panel class="flex" style="width:100%;">
      <toolbar-element mtitle="{% if userindex %}Projects{% endif %}{% if project %}{{project.name}}{% endif %}{% if todo %}{{todo.parent_project.name}}{% endif %}"
      drawerbtn tbarposition="relative" class="paper-header" id="mtbar">
      <paper-icon-button class="middle" icon="menu" onclick="toggleDrawer()"></paper-icon-button>
      </toolbar-element>


		<paper-drawer-panel id="drawerpanel">
		<div main class="scrollable vertical layout center">

    {% if todo or project %}
    <!-- To_do delete dialog -->
    <paper-dialog id="deleteTodoDialog" class="pdialog" modal>
          <h2>Do you really want to delete this to do?</h2>
          <div class="buttons">
            <paper-button dialog-dismiss onclick="cancelDeleteTodo();">No</paper-button>
            <paper-button onclick="deleteTodo();">Yes</paper-button>
          </div>
    </paper-dialog>

    <!-- To_do edit dialog -->
    <paper-dialog id="editTodoDialog" class="pdialog" modal>
      <h2>Edit To do...</h2>
    <form is="iron-form" id="edittodo" action="{% url 'edittodo' %}" method="POST">
                {% csrf_token %}
            <div class="vertical layout">
                <paper-input class="cardcontent" label="Title" type="text" id="inputEditTodoTitle" name="title" required></paper-input>
                <paper-textarea class="cardcontent" label="Details" type="text" id="inputEditTodoDetails" name="details" value=""></paper-textarea>
                <input style="display: none;" name="todoid" value="-99" id="inputEditTodoId"></input>
                <!--<paper-menu-button>
                    <paper-button class="dropdown-trigger">Designation</paper-button>-->
                    <div class="spacer"></div>
                    <span class="cardcontent">Assign to:</span>
                    <paper-menu class="cardcontent designMenu" class="dropdown-content" multi name="designations">
                        {% for u in participants %}

                            <paper-item>
                                <span>{{u.user.user.username}}</span>
                            </paper-item>

                        {% endfor %}
                    </paper-menu>
                <!--</paper-menu-button>-->
                <input style="display: none" name="parentproj" value="{{project.id}}"></input>
            </div>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <paper-button onclick="submitEditTodo();">Confirm</paper-button>
      </div>
        </form>
    </paper-dialog>
    {% endif %}



    <!-- BEGIN TO_DO COMMENTS SCREEN -->
    {% if todo %}
                <tweaked-card mtitle="{{todo.title}}" csize="big">

                    <paper-menu-button class="cardMenuButton" horizontal-offset="35" vertical-offset="35"  horizontal-align="right">
                        <paper-icon-button icon="more-vert" class="dropdown-trigger"></paper-icon-button>
                        <paper-menu class="dropdown-content">
                                <paper-item onclick="deleteTodoCall({{todo.id}})">
                                    <span>Delete</span>
                                </paper-item>
                                <paper-item onclick="editTodo({{todo.id}}, '{{todo.title}}', '{{todo.details}}')" >
                                    <span>Edit</span>
                                </paper-item>
                        </paper-menu>
                    </paper-menu-button>

                    <div class="horizontal layout cardcontent">
                    <form is="iron-form" id="formToggleTodoDone{{todo.id}}" action="{% url 'toggleTodoDone' todo.id %}" method="POST">
                        {% csrf_token %}
                        <paper-checkbox name="todoCheckbox" {% if todo.done %}checked{% endif %} onclick="toggleTodoDone({{todo.id}})">

                        <span>{{todo.details}}</span></paper-checkbox>
                    </form></div>
                    <div class="card-actions horizontal layout center">
                <span class="flex"></span>

                <div>
                {% if todo.author.user == user %}
                <iron-icon icon="bookmark" class="mbadge"></iron-icon>
                <paper-tooltip position="left">You are the author</paper-tooltip>
                {% else %}
                  {% if todo.author.avatar %}
                    <img class="microavatar" src="{{todo.author.avatar}}"></img>
                  {% else %}
                    <iron-icon icon="account-circle"></iron-icon>
                  {% endif %}
                <paper-tooltip position="left">{{todo.author.user.username}}</paper-tooltip>
                {% endif %}
                </div>
                        <iron-icon icon="arrow-forward"></iron-icon>
                            {% for d in designations %}
                                    <div>
                                        <div style="margin-left: 24px;"></div>
                                        {% if d.user.avatar %}
                                      <img class="microavatar" src="/media/{{d.user.avatar}}"></img>
                                        {% else %}
                                      <iron-icon icon="account-circle"></iron-icon>
                                        {% endif %}
                                        <paper-tooltip position="left">{{d.user.user.username}}</paper-tooltip>
                                    </div>
                            {% endfor %}
                        </div>
                </tweaked-card>

                <paper-dialog id="deleteTodoCommentDialog" class="pdialog" modal>
                      <h2>Do you really want to delete this comment?</h2>
                      <div class="buttons">
                        <paper-button dialog-dismiss onclick="cancelDeleteTodoComment();">No</paper-button>
                        <paper-button onclick="deleteTodoComment();">Yes</paper-button>
                      </div>
                </paper-dialog>

                {% for comment in commentstodolist %}
                    <tweaked-card mtitle="" csize="big">

                            {% if comment.author.user == request.user %}
                                <paper-menu-button class="cardMenuButton" horizontal-offset="35" vertical-offset="35"  horizontal-align="right">
                                    <paper-icon-button icon="more-vert" class="dropdown-trigger"></paper-icon-button>
                                    <paper-menu class="dropdown-content">
                                            <paper-item onclick="deleteTodoCommentCall({{comment.id}})">
                                                <span>Delete</span>
                                            </paper-item>
                                    </paper-menu>
                                </paper-menu-button>
                            {% endif %}
                        <div class="vertical layout xcardcontent">
                            <div class="horizontal layout center">
                                <img class="piccircle" src="
                                    {% if comment.author.avatar %}
                                /media/{{comment.author.avatar}}
                                    {% else %}
                                /media/img/defaultuserpic.png
                                    {% endif %}
                                "></img>
                                <span class="commentAuthor">{{comment.author.user.username}}</span>
                                <span class="flex"></span>
                            </div>
                            <div class="spacer"></div>
                            <span>{{comment.content}}</span>
                        </div>
                    </tweaked-card>
                    {% endfor %}

                    <tweaked-card mtitle="Add comment" csize="big">

                        <div class="vertical layout">
                            <form is="iron-form" id="addTodoCommentForm" action="{% url 'submittodocomment' todo.id %}" method="POST">
                                {% csrf_token %}
                                <paper-textarea class="cardcontent" label="Content" type="text" name="content" required></paper-textarea>
                                <div class="card-actions horizontal layout">
                                    <paper-button onclick="submittodocomment()">Submit</paper-button>
                                </div>
                            </form>

                        </div>
                    </tweaked-card>
    {% endif %}
    <!-- END TO_DO COMMENTS SCREEN -->

    <!-- BEGIN PROJECT SCREEN -->
    {% if project %}
    <div>
    <paper-fab id="addfab" icon="add" onClick="addTodo()"></paper-fab>
    <paper-tooltip for="addfab" position="left">Add Todo</paper-tooltip>
    </div>


    <paper-dialog id="addTodoDialog" class="pdialog" modal>
      <h2>New To do...</h2>
    <form is="iron-form" id="submitnewtodo" action="{% url 'submitnewtodo' %}" method="POST">
                {% csrf_token %}
            <div class="vertical layout">
                <paper-input class="cardcontent" label="Title" type="text" name="title" required></paper-input>
                <paper-textarea class="cardcontent" label="Details" type="text" name="details" value=""></paper-textarea>
                <!--<paper-menu-button>
                    <paper-button class="dropdown-trigger">Designation</paper-button>-->
                    <div class="spacer"></div>
                    <span class="cardcontent">Assign to:</span>

                    <paper-menu class="cardcontent designMenu" class="dropdown-content" multi name="designations" id="newTodoDesignMenu">
                        {% for u in participants %}

                            <paper-item role="menuitemcheckbox" value="{{u.user.user.username}}">
                                <span>{{u.user.user.username}}</span>
                            </paper-item>

                        {% endfor %}
                    </paper-menu>
                    <input style="display: none;" name="newtodoDesignations" id="newtodoDesignations" value=""></input>
                <!--</paper-menu-button>-->
                <input style="display: none;" name="parentproj" value="{{project.id}}"></input>
            </div>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <paper-button onclick="submitTodo();">Create</paper-button>
      </div>
        </form>
    </paper-dialog>
        {% if todolist %}

            {% for todo in todolist %}
                <tweaked-card mtitle="{{todo.title}}" csize="big">

                    <paper-menu-button class="cardMenuButton" horizontal-offset="35" vertical-offset="35"  horizontal-align="right">
                        <paper-icon-button icon="more-vert" class="dropdown-trigger"></paper-icon-button>
                        <paper-menu class="dropdown-content">
                                <paper-item onclick="deleteTodoCall({{todo.id}})">
                                    <span>Delete</span>
                                </paper-item>
                                <paper-item onclick="editTodo({{todo.id}}, '{{todo.title}}', '{{todo.details}}')" >
                                    <span>Edit</span>
                                </paper-item>
                        </paper-menu>
                    </paper-menu-button>

                    <div class="horizontal layout cardcontent">
                    <form is="iron-form" id="formToggleTodoDone{{todo.id}}" action="{% url 'toggleTodoDone' todo.id %}" method="POST">
                        {% csrf_token %}
                        <paper-checkbox name="todoCheckbox" {% if todo.done %}checked{% endif %} onclick="toggleTodoDone({{todo.id}})">

                        <span>{{todo.details}}</span></paper-checkbox>
                    </form></div>
                    <div class="card-actions horizontal layout center">
                        <paper-button onclick="location.href='{% url 'todoview' todo.id %}'">Comments</paper-button>
                <span class="flex"></span>

                <div>
                {% if todo.author.user == user %}
                <iron-icon icon="bookmark" class="mbadge"></iron-icon>
                <paper-tooltip position="left">You are the author</paper-tooltip>
                {% else %}
                  {% if todo.author.avatar %}
                    <img class="microavatar" src="/media/{{todo.author.avatar}}"></img>
                  {% else %}
                    <iron-icon icon="account-circle"></iron-icon>
                  {% endif %}
                <paper-tooltip position="left">{{todo.author.user.username}}</paper-tooltip>
                {% endif %}
                </div>
                        <iron-icon icon="arrow-forward"></iron-icon>
                            {% for d in designations %}
                                {% if d.todo.id == todo.id %}
                                    <div>
                                        <div style="margin-left: 24px;"></div>
                                        {% if d.user.avatar %}
                                      <img class="microavatar" src="/media/{{d.user.avatar}}"></img>
                                        {% else %}
                                      <iron-icon icon="account-circle"></iron-icon>
                                        {% endif %}
                                        <paper-tooltip position="left">{{d.user.user.username}}</paper-tooltip>
                                    </div>
                                {% endif %}
                            {% endfor %}</div>
                </tweaked-card>
            {% endfor %}
        {% else %}
            <h2>Nothing here</h2>
        {% endif %}
        <div class="spacerFab"></div>
    {% endif %}
    <!-- END PROJECT SCREEN -->


    <!-- BEGIN PROJECTS OVERVIEW -->
    {% if userindex %}
    <div>
    <paper-fab id="addfab" icon="add" onClick="addProject()"></paper-fab>
    <paper-tooltip for="addfab" position="left">Add project</paper-tooltip>
    </div>


        <paper-dialog id="newprojdialog" class="pdialog" modal>
          <h2>New project...</h2>
        <form is="iron-form" id="submitnewproj" action="{% url 'submitnewproj' %}" method="POST">
                    {% csrf_token %}
                <div class="vertical layout">
            <paper-input class="cardcontent" label="Name" type="text" name="name" required></paper-input>
            <paper-input class="cardcontent" label="Description" type="text" name="description"></paper-input>
                </div>
          <div class="buttons">
            <paper-button dialog-dismiss>Cancel</paper-button>
            <paper-button onclick="submitProj();">Create</paper-button>
          </div>
            </form>
        </paper-dialog>
	{% if projlist %}
		{% for project in projlist %}
		<tweaked-card mtitle="{{project.name}}" csize="big">
			<span class="cardcontent">{{project.description}}</span>
			<div class="card-actions horizontal layout center">
 				<paper-button onclick="location.href='{% url 'projview' project.id %}'">Open</paper-button>
        <span class="flex"></span>
        <div>
        {% if project.author.user == user %}
        <iron-icon icon="bookmark" class="mbadge"></iron-icon>
        <paper-tooltip position="left">You are the author</paper-tooltip>
        {% else %}
          {% if project.author.avatar %}
            <img class="microavatar" src="/media/{{project.author.avatar}}"></img>
          {% else %}
            <iron-icon icon="account-circle"></iron-icon>
          {% endif %}
        <paper-tooltip position="left">{{project.author.user.username}}</paper-tooltip>

        {% endif %}
 		</div></div>
		</tweaked-card>
		{% endfor %}
    <div class="spacerFab"></div>
	{% else %}
		<h2>Nothing here</h2>
	{% endif %}
    {% endif %}
    <!-- END PROJECTS OVERVIEW -->

	</div>
	<div drawer id="mdrawer" class="vertical layout">
      <div class="drawerheader horizontal layout">
        {% if userpic %}
          <img id="avatarcircle" src="/media/{{userpic}}"></img>
        {% else %}
          <img id="avatarcircle" src="/media/img/defaultuserpic.png"></img>
        {% endif %}
          <!--<paper-tooltip for="avatarcircle" position="right" >{{user.username}}</paper-tooltip>-->
          <span class="usrname">// {{user.username}}</span>
      </div>
      <div class="topbtncont">
            {% if todo %}
                <paper-button class="fullbleedbtn" onclick="location.href='{% url 'projview' todo.parent_project.id %}'"><iron-icon icon="arrow-back"></iron-icon> {{todo.parent_project.name}}</paper-button>
            {% endif %}
            <paper-button class="fullbleedbtn" onclick="location.href='/'">Projects</paper-button>
            <paper-button class="fullbleedbtn" onclick="">(Add project settings)</paper-button>
      </div>
      <div>
        <div class="bottombtncont">
          <paper-button class="fullbleedbtn" onclick="openSettings()">Settings</paper-button>
          <paper-button class="fullbleedbtn" onclick="signout()">Sign out</paper-button>
        </div>
      </div>
  </div>
		</paper-drawer-panel>
    </paper-header-panel>
</body>
</html>
